{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="w-full h-full flex flex-col justify-start items-center">
    <div class="flex flex-col items-center">
        <h1>Feed</h1>
        <div>
            <a href="{{ path('quackquack_add') }}">New Quack</a>
        </div>
    </div>
    <div class="w-full flex flex-col justify-start items-center overflow-y-auto snap-start">
        {% for quack in quacks %}
            {% if not quack.motherquack_id  %}
                <article class="quack flex flex-col justify-evenly items-center">
                    <p class="quack-author">Author: {{ quack.user_id.firstname }}</p>
                    <p class="quack-content">{{ quack.content }}</p>
                    <img src="{{ quack.picture }}" alt="" class="quack-picture"/>
                    <p>{{ quack.tags }}</p>
                    <span class="quack-date">Published on {{ quack.getCreatedAt | date('Y-m-d H:i:s') }}</span>
                    <div>
                        <a href="{{ path('quackquack_show', {'id': quack.id}) }}">
                            <p>Comment</p>
                        </a>
                    </div>
                </article>
            {% endif %}
        {% else %}
            <p>Aucun quack</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
