{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div>
    <h1>Hello {{ user.firstname }}! ✅</h1>
    <div>
        <div>
            <p>First name:</p>
            <p>{{ user.firstname }}</p>
        </div>
        <div>
            <p>Last name:</p>
            <p>{{ user.lastname }}</p>
        </div>
        <div>
            <p>Duckname:</p>
            <p>{{ user.duckname }}</p>
        </div>
        <div>
            <p>email address:</p>
            <p>{{ user.email }}</p>
        </div>
        <div>
            <p>Change password</p>
        </div>
    </div>
</div>
{% endblock %}
